<h1><%=t(:top_menu_sign_in)%></h1>

<%= form_for(:session, :url => sessions_path) do |f| %>

  <div class="field">
    <%= f.label :email, t(:sing_up_email) %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :password, t(:sing_up_password) %><br />
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    	<%= check_box_tag :remember_me, 1, params[:remember_me] %>
  		<%= label_tag t(:remember_me) %>
  </div>
  <br/>
  
  <div class="actions">
    <%= f.submit t(:sign_in_submit) %>
  </div>
<% end %>
