<%= form_for @league do |f| %>

  <div class="form_name">
    Новая лига
  </div>

  <div class="field">
  	<%= f.label :sport_id, "Вид спорта" %> <br/>
    <%= f.select :sport_id,
    	options_for_select( Sport.order("name asc").all.collect { |p| [p.name, p.id] }),
    	:multiple => false, :size => 3
    %> <%= link_to "Добавить", "/admin/sport_new", :class => 'new_item', :id => 'new_sport_item' %>
  </div>

  <div class="field">
  	<%= f.label :country_id, "Страна" %> <br/>
    <%= f.select :country_id,
    	options_for_select( Country.order("name asc").all.collect { |p| [p.name, p.id] }),
    	:multiple => false, :size => 3
    %> <%= link_to "Добавить", "/admin/country_new", :class => 'new_item', :id => 'new_country_item'  %>
  </div>


  <div class="field">
  	<%= f.label :name, "Название" %> <br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
  	<%= f.label :priority, "Приоритет" %> <br/>
  	<%= f.text_field :priority, :class => 'priority' %>
  </div>


  <div class="actions">
  	<%= f.submit "Добавить" %>
  </div>

<% end %>

<%= javascript_include_tag 'forms.js' %>

