<% content_for :sub_navigation do %>
  <ul>
    <li><%= link_to "Главная", "#" %></li>
    <li><%= link_to "Ближайшие", "#" %></li>
    <li><%= link_to "Live ставки", "#" %></li>
    <li><%= link_to "Топ матчи", "#" %></li>
    <li><%= link_to "Dropping", "#" %></li>
    <li><%= link_to "Вилки", "#" %></li>
    <li><%= link_to "Фильтр", "#" %></li>
  </ul>
<% end %>

<% content_for :breadcrumb do %>
   <%= link_to t(:top_menu_coefficients), coefficients_path %>
   » <%= link_to @league.country.name,  @league.country %>
   » <%= link_to @league.sport.name,  @league.sport %>
   » <%= @league.name %>
<% end %>

<% content_for :left_nav do %>
  <div id="my_coupon">
    <div class="header">Мои Лиги<a id="toggle-coupon-info" href="#" class="active"></a></div>
    <div class="my_coupon_data">
      <%= render 'site_top_navigation/coupons' %>
    </div>
  </div>
  <div id="sports_menu">
    <div class="header">Виды спорта</div>
	  <%= render 'sports/sports_content' %>
	</div>
<% end %>

<% content_for :content do %>
  <div class="coupon-league-manage">
    <%= render 'coupons/manage_leagues_coupon' %>
  </div>
  <div id="refresh_box">
  <% if @league.sport.name == "Basketball"%>
    <% @league.events.with_bet_type("1or2", @league.id).each_with_index do |e,i| %>
    <% if i == 0 %>
      <div class="event_name_cell"> Игра </div>
      <div class="event_cell"> 1 </div>
      <div class="event_cell"> 2 </div> <br />
    <% end %>
    <div class="event_name_cell event_cell_data" style="background: <%= '#fff' if i%2 == 0 %>; "> <%= link_to e.name, e %> </div>
      <% e.bets.to_win.limit(2).each_with_index do |b,j| %>
          <div class="event_cell event_cell_data" style="background: <%= '#fff' if i%2 == 0 %>;  "><span> <%= b.odd %> </span> </div>
      <% end %> <br />
    <% end %>
  <% else %>
    <% @league.events.with_bet_type("1x2", @league.id).each_with_index do |e,i| %>
      <% if i == 0 %>
        <div class="event_name_cell"> Игра </div>
        <div class="event_cell"> 1 </div>
        <div class="event_cell"> X </div>
        <div class="event_cell"> 2 </div> <br />
      <% end %>
      <div class="event_name_cell event_cell_data" style="background: <%= '#fff' if i%2 == 0 %>; "> <%= link_to e.name, e %> </div>
        <% e.bets.to_win_with_draw.limit(3) .each_with_index do |b,j| %>
            <div class="event_cell event_cell_data" style="background: <%= '#fff' if i%2 == 0 %>;  "><span> <%= b.odd %> </span> </div>
        <% end %> <br />
      <% end %>
     <% end %>
    </div>
<% end %>

<% content_for :right_nav do %>
  <div id="my_coupon">
    <div class="header">Мои Купон<a id="toggle-coupon-clear" href="#" class="active"></a></div>
    <div class="my_coupon_bets">
        <b>Карточка пуста.</b>  <br />
        Добавляйте события, <br />
        кликая на коэффициенты  <br />
        на нашем сайте.  <br />
    </div>
  </div>
<% end %>

