<%= form_for @comment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :content, "Добавить новый комментарий" %><br />
    <%= f.text_area :content %>
  </p>

  <%= f.hidden_field :news_block_id, :value => @news_block.id %>

  <p><%= f.submit "Добавить" %></p>
<% end %>

