<%= form_for @sport do |f| %>

  <div class="field">
  	<%= f.label :name, "Название" %> <br/>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
  	<%= f.label :priority, "Приоритет" %> <br/>
    <%= f.select :priority, options_for_select(@priorities), :multiple => false, :size => 3 %>
  </div>
  
  <div class="actions">
  	<%= f.submit "Обновить", :id => "update_sport_btn" %>
  </div>
  
<% end %>

