<b> Добавить вид спорта</b>
<%= form_for @sport do |f| %>

  <div class="field">
  	<%= f.label :name, "Название" %> <br/>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
  	<%= f.label :priority, "Приоритет" %> <br/>
    <%= f.select :priority, options_for_select({'Низкий' => 1, 'Средний' => 2, 'Высокий' => 3}), :multiple => false, :size => 3 %>
  </div>
  
  <div class="actions">
  	<%= f.submit "Добавить" %>
  </div>
  
<% end %>

<%= javascript_include_tag 'forms.js' %>