<% @sports.each do |sport| %>

  <% if %>
  <h2 class="acc_trigger" name = "<%=sport.name %>" id="sport_<%=sport.id %>">
	  <%= link_to sport.name, "#" %>
	  <% if signed_in? && current_user.admin? %>
	    <%= link_to "Удалить", sport, :confirm => "Вы уверены?",  :title => "Удалить #{sport.name}", :class => 'delete_sport_item' %>
	    <%= link_to "Редактировать", sport, :class => 'edit_sport_item', :id => sport.id %>
	  <% end %>
  </h2>
  <% end %>

  <div class="acc_container">
	  <div class="block">

      </div>
  </div>

<% end %>
<%= javascript_include_tag 'accordian.js' %>

