<% @sports.each do |sport| %>

<h2 class="acc_trigger"> <%= link_to sport.name, "#" %> 
						<%= link_to "Удалить", sport, :confirm => "Вы уверены?", :title => "Удалить #{sport.name}", :class => 'delete_item' %>  
						<%= link_to "Редактировать", sport, :class => 'edit_item', :id => sport.id %> </h2> 

<div class="acc_container">
    <div class="block">
		<ul class="countries">
			<% 
				countries_names_arr = Array.new
				countries_ids_arr = Array.new
					sport.ligues.each  do |i|
					 countries_names_arr.push i.country.name
					 countries_ids_arr.push i.country.id 
					end
				countries_names_arr = countries_names_arr.uniq
				countries_ids_arr =  countries_ids_arr.uniq
			%>

			<% countries_names_arr.each_with_index do |ligue, index| %>
			<li class="country"><%= link_to countries_names_arr[index] , "#"  %></li>
			<ul class="ligues">
				<% Ligue.where(:sport_id => sport.id, :country_id => countries_ids_arr[index] ).each do |l| %>
					<li class='ligue'><%= l.name %></li>
				<% end %>	
				<li> 	<%= link_to "Добавить", "#", :class => 'add_item' %> </li>
			</ul>			
			<% end %>
			<li> <%= link_to "Добавить", "#", :class => 'add_item'%> </li>
		</ul>
    </div>
    
</div>
	
<% end %>
<h2 class="acc_trigger last-child">  <%= link_to "Добавить", "#"%> </h2>
<div class="acc_container ">
	<div class="block"></div>
</div>

<%= javascript_include_tag 'accordian.js' %>