<ul class="tabs">
	<!--li><%#= link_to "Приложение", admin_path , :class => 'admin_profile_tab' %></li-->
	<li><%= link_to "Пользователи", admin_users_manager_path, :class => 'users_manager_tab' %></li>
	<li><%= link_to "Лиги", admin_leagues_manager_path, :class => 'leagues_manager_tab' %></li>
	<li><%= link_to "Страницы", admin_pages_manager_path, :class => 'pages_manager_tab' %></li>
	<li class="active"><%= link_to "Букмекеры", admin_bookmakers_manager_path, :class => 'bookmakers_manager_tab' %></li>
</ul>
<div class="tab_container">

    <div class="tab_content">
		<%= render 'bookmakers_form' %>
    </div>
</div>


