  <table>
   <tr>
   <td>	<b> <%= @league.name %> </b> </td>
   </tr>
   
<% @league.events.each do |e| %>
	<tr>
		<td><b> ставки на </b> <%= e.name %></td>
	</tr>
	<% e.bets.each do |b| %>
	<tr>
    	<td> <%= b.name %> - <%= b.odd %> ( <% if !b.participant.nil? %> <%= b.participant.name %> <% end %> ) - ( <% if !b.bet_type.nil? %> <%= b.bet_type.name %> <% end %> )
    	<td><% if b.bookmaker.name == 'Gamebookers' %> 
    		<img src="./images/gb.gif" width="100" height="20"/> 
    	<% else %> 
    		<img src="./images/brk.gif" width="100" height="20"/>
    	<% end %> </td> 
    	</td>
    </tr>
	<% end %>
	
<% end %>


</table>
