<% content_for :navigation do %>
	  <ul class="dropdown">
	      <li class = "active"><%= link_to t(:top_menu_coefficients), coefficients_path %></li>
        <li><%= link_to t(:top_menu_bookmakers), bookmakers_path %></li>
        <li><%= link_to t(:top_menu_statistics), statistics_path %></li>
        <li><%= link_to t(:top_menu_tools), tools_path %>
         <ul class="sub_menu">
            <li>
                Calculators
        				<ul>
        					<li>Dutching</li>
        					<li>Hutching</li>
        					<li>Hedging</li>
        					<li>Bet Calculator</li>
        				</ul>
        		</li>
           </ul>
         </li>
        <li><%= link_to "форум",  forums_path  %>

        </li>
	  </ul>
<% end %>
<% content_for :sub_navigation do %>
  <ul>
    <li><%= link_to "Главная", "#" %></li>
    <li><%= link_to "Ближайшие", "#" %></li>
    <li><%= link_to "Live ставки", "#" %></li>
    <li><%= link_to "Топ матчи", "#" %></li>
    <li><%= link_to "Dropping", "#" %></li>
    <li><%= link_to "Вилки", "#" %></li>
    <li><%= link_to "Фильтр", "#" %></li>
  </ul>
<% end %>

<% content_for :breadcrumb do %>
   <%= link_to t(:top_menu_coefficients), coefficients_path %>
   »  <%= link_to @event.league.country.name,  @event.league.country %>
   » <%= link_to @event.league.sport.name,  @event.league.sport %>
   » <%= link_to @event.league.name, @event.league %>
   » <%= @event.name %>
<% end %>

<% content_for :left_nav do %>
  <div id="my_coupon">
    <div class="header">Мои Лиги<a id="toggle-coupon-info" href="#" class="active"></a></div>
    <div class="my_coupon_data">
      <%= render 'site_top_navigation/coupons' %>
    </div>
  </div>
  <div id="sports_menu">
    <div class="header">Виды спорта</div>
	  <%= render 'sports/sports_content' %>
	</div>
<% end %>

<% content_for :content do %>
  <div id="refresh_box">
    <ul class="bet-tabs">
        <li><a href="#towin-with-draw">1x2</a></li>
        <li><a href="#to-win">1or2</a></li>
    </ul>

    <div class="tab_container">
        <div id="towin-with-draw" class="tab_content">
          <%= render 'events/towin_with_draw' %>
        </div>

        <div id="to-win" class="tab_content">
          <%= render 'events/towin' %>
        </div>

      </div>
  </div>
<% end %>

<% content_for :right_nav do %>
  <div id="my_coupon">
    <div class="header">Мои Купон<a id="toggle-coupon-clear" href="#" class="active"></a></div>
    <div class="my_coupon_bets">
        <b>Карточка пуста.</b>  <br />
        Добавляйте события, <br />
        кликая на коэффициенты  <br />
        на нашем сайте.  <br />
    </div>
  </div>
<% end %>

