<% content_for :breadcrumb do %>
   <%= link_to t(:top_menu_coefficients), coefficients_path %>
   »  <%= link_to @event.league.country.name,  @event.league.country %>
   » <%= link_to @event.league.sport.name,  @event.league.sport %>
   » <%= link_to @event.league.name, @event.league %>
   » <%= @event.name %>
<% end %>

<% content_for :left_nav do %>
  <div class="header">Виды спорта</div>
	<%= render 'sports/sports_content' %>
<% end %>

<% content_for :content do %>
  <div id="refresh_box">
    <ul class="bet-tabs">
        <li><a href="#towin-with-draw">1x2</a></li>
        <li><a href="#to-win">1or2</a></li>
    </ul>

    <div class="tab_container">
        <div id="towin-with-draw" class="tab_content">
          <%= render 'events/towin_with_draw' %>
        </div>

        <div id="to-win" class="tab_content">
          <%= render 'events/towin' %>
        </div>
      </div>
  </div>
<% end %>

<% content_for :right_nav do %>
  <div id="my_coupon">
    <div class="header">Мои Лиги<a id="toggle-coupon-info" href="#" class="active"></a></div>
    <%= render 'site_top_navigation/coupons' %>
  </div>
<% end %>

