<%= form_for @country do |f| %>
  <div class="form_name">
    Редактирование страны
  </div>
  <div class="field">
  	<%= f.label :name, "Название" %> <br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :priority, "Приоритет" %> <br/>
  	<%= f.text_field :priority, :class => 'priority' %>
  </div>
  <div class="field">
     <%# if !@flags.nil? %>
        <%#= f.label :flag_image, "Флаг:" %> <br/>
        <%#= f.select :flag_image, options_for_select( @flags, @country.flag_image), :multiple => false %>
    <%# end %>
  </div><br />
  <div class="actions">
  	<%= f.submit "Изменить" %> <%#=  link_to 'Назад', leagues_manager_path, :class => 'back_from_form'  %>
  </div>
<% end %>
<%= javascript_include_tag 'forms.js' %>