<%= form_for @country do |f| %>
  <b> Добавить страну </b>
  <div class="field">
  	<%= f.label :name, "Название" %> <br/>
    <%= f.text_field :name %>
  </div>
  
	<div class="field">
  	<%= f.label :priority, "Приоритет" %> <br/>
  	<%= f.text_field :priority, :class => 'priority' %>
  </div>
  
  <div class="actions">
  	<%= f.submit "Добавить" %> <%=  link_to 'Назад', sports_manager_path, :class => 'back_from_form'  %>
  </div>
<% end %>

<%= javascript_include_tag 'forms.js' %>