<% if signed_in? %>
  <ul>
  <% current_user.coupons.each_with_index do |c,i| %>
      <% if !c.league.nil?%>
        <li class="<%= 'even' if i%2 == 0 %>"> <%= image_tag get_sport_image c.league.sport.name %>  <%= link_to c.league.name, c.league, :class => "coupon_league_name" %> <%= link_to "удалить лигу", "#", :class => "remove_coupon_from_list", :id => "league_#{c.league.id }", :data => "remove_from_coupon" %> </li>
      <% end %>
  <% end %>
  </ul>
<% end %>

<%= javascript_include_tag 'coupon.js' %>

