<% if !@league.nil? %>

<div class="betting-odds">
  <div class="betting-odds-header">
   <span style= "float: left;" ><%= @league.name %> Betting Odds</span>
    <% if signed_in? %>

     <% if @has_ligue.nil? %>
		  <%= link_to "добавить лигу", "#", :class => "add_to_coupon", :id => "league_#{@league.id }"  %>
		  <% elsif %>
		  <%= link_to "удалить лигу", "#", :class => "remove_from_coupon", :id => "league_#{@league.id }"  %>
		  <% end %>
		<% end %>
  </div>

  <div class="bettings-odds-bookmakers">

  </div>

  <div class="events-data">
    <% @league.events.each do |e| %>
        <div class= " event-title "> <%= link_to e.name, "#" %> <%= link_to "expand", "#", :class => "expand" %> </div>
        <div class="odds-data">
        <% e.bets.each do |b| %>
          <div class="event" >
            <div class="bet-bookmaker" style="width: 100px; float:left;">
              <%= image_tag imageUriByBookmakerName( b.bookmaker.name ), :width => 100, :height => 20 %>
            </div>
            <div class="bet-name">
               <%= b.name %>
            </div>
            <div class="bet-odd">
              <%= b.odd %> /
              <% if !b.bet_type.nil? %>
                <%= b.bet_type.name %>
              <% end %>
            </div>

          </div>
        <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>

<%= javascript_include_tag 'script' %>

