<ul class="dropdown">
  <li id="coefficients-li" class=<%= 'active' if menu_item_active? ('coefficients') %> ><%= link_to t(:top_menu_coefficients), coefficients_path %></li>
  <li id="bookmakers-li" class=<%= 'active' if menu_item_active? ('bookmakers') %>><%= link_to t(:top_menu_bookmakers), bookmakers_path %></li>
  <li id="statistics-li" class=<%= 'active' if menu_item_active? ('statistics') %>><%= link_to t(:top_menu_statistics), statistics_path %></li>
  <li id="tools-li" class=<%= 'active' if menu_item_active? ('tools') %>>
    <%= link_to t(:top_menu_tools), tools_path, :class => "drop" %>
    <div class="dropdown_1column">
      <h6>Калькуляторы</h6>
      <ul class="greybox">
        <li> <a>Dutching</a> </li>
        <li> <a>Hedging</a> </li>
        <li> <a>Hutching</a> </li>
      </ul>
    </div>
  </li>
  <li id="forums-li" class=<%= 'active' if menu_item_active? ('forums') %>><%= link_to "форум",  forums_path  %></li>
</ul>
