<% if !@top_event.nil? %>
<div class="betting-odds">
  <div class="betting-odds-header">
    <%= @top_event.name %> Betting Odds
  </div>

  <div class="bettings-odds-bookmakers">
     <div class="bet-bookmaker ">
      <% @bookmakers.each do |b| %>
        <% if !b.bookmaker.nil?  %>
          <%= image_tag imageUriByBookmakerName( b.bookmaker.name ), :width => 100, :height => 20 %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if !@top_event.bets.nil? %>
  <div class="bettings-odds-data">

    <% @top_event.bets.each do |b| %>
        <div class="event">
          <div class="bet-name">
            <%= b.name %>
          </div>
          <div class="bet-odd">
            <%= b.odd %>
          </div>
        </div>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>

<%= javascript_include_tag 'script' %>

