<% title "News Blocks" %>

<div class="news grid_14">
	<div class="news-blocks-header"><b>Новости (<%= @counter %>)</b></div>
	<% for news_block in @news_blocks %>
	<div class="news-block">
		<div class="news-block-header">
		 <%=link_to news_block.title, news_block %>

		</div>
		<div class="news-block-image grid_3"><%= image_tag news_block.image_url(:thumb).to_s %> <br /></div>
		<div class="news-block-content">

			<%= news_block.content.first(140)%>...

		</div>
		<div class="news-block-timestamp"> <p> <%=  time_ago_in_words( news_block.created_at ) %> назад </p> </div>

			<% if signed_in? %>
	      <% if current_user.admin? %>
	      <div class="news-block-controls">
			    <ul>
				    <li><%= link_to "Редактировать", edit_news_block_path(news_block) %></li>
				    <li><%= link_to "Удалить", news_block, :confirm => 'Are you sure?', :method => :delete %></li>
			    </ul>
		    </div>
		    <% end %>
      <% end %>
	</div>

	<% end %>
  <% if signed_in? %>
	   <% if current_user.admin? %>
		  <div class="create_news_block "> <%= link_to "Добавить новость", new_news_block_path %> </div>
		 <% end %>
  <% end %>
</div>

