<% title "News Block" %>

<div class="news-block-header news-show-margin news-block-show-header">
  <%= @news_block.title %>
</div>
<div class="news-block-timestamp news-show-margin"> <p>   <%= @news_block.created_at > 1.days.ago ? image_tag("http://www.awwwards.com/images/ico_pending.png") + " " + time_ago_in_words( @news_block.created_at ) + t( :ago ) : l( @news_block.created_at, :format => :long )%> </p> </div>
<div class="news-block-content news-show-margin">
  <%= image_tag @news_block.image_url( :orig ).to_s %>
</div>

<div class="news-block-content news-show-margin ">
  <%= raw ( @news_block.content ) %>
</div>

  <div class="news-block-content news-show-margin ">
  <% if signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "Редактировать", edit_news_block_path(@news_block) %> |
      <%= link_to "Удалить", @news_block, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  <% end %>

  <div class="comments">
    <div class="comments-header""> Коминтарии (<%= @comments.count %>):  </div>

    <% @comments.each do |comment| %>
      <div class="comment">
        <div class="commented-by"> Комментарий от <span><%= comment.user.name %></span>  </div>
        <div class="comment-timestamp"> <%= comment.created_at > 1.days.ago ? image_tag("http://www.awwwards.com/images/ico_pending.png") + " " + time_ago_in_words( comment.created_at  ) + t(:ago) : l( comment.created_at, :format => :long )%> </div>
        <div class="comment-content"> <%= comment.content %> </div>
      </div>
    <% end %>
  </div>

   <% if signed_in? %>
    <% if current_user.admin? %>
      <div class="new_comment">
        <%= render "comments/form" %>
      </div>   <% end %>
  <% end %>

</div>

